<div class="boombox">
  <div class="row center">
     <br><br>
     <h1 class="white-text">Latest and Greatest Crypto-News!</h1>
     <a href="/scrape" id="news-btn" class="btn-flat">Refresh News</a>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col l8 s12">
        <ul id="reports" class="collection">
          {{#each reports}}
            <div class="collection-item row" id="highlight">
              <div class="col s2">
                <br>
                <form method="POST" action="/news/save/{{this.id}}?_method=PUT">
                  <button class="btn-floating btn-small waves-effect waves-light orange darken-4" title="Save Report" value="{{this}}" type="submit"><i class="material-icons">add</i></button>
                </form>
              </div>
              <div class="col s8">
                <li>{{this.title}}<br /><a href="{{this.link}}">Read more</a></li>
              </div>
            </div>
          {{/each}}
        </ul>
      </div>
      <div id="price-card" class="col l4 s6 pull-s4">
        <div class="card">
          
 <div class="card-image">
            <img id="price-img" width="270px" src="/img/giphy-spincoin.gif">
          </div>
          <div class="card-content">
            <center><p><a href="https://www.coindesk.com/">CoinDesk</a></p><p><a href="https://news.bitcoin.com/">News.Bitcoin</a><p><a href="https://cointelegraph.com/">CoinTelegraph</a><p><a href="http://bitcoinist.com/">Bitcoinist</a></p><p><a href="https://www.cryptocoinsnews.com/">CryptoCoinsNews</a></p><span id="btcPrice">{{price}}</span></p></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
